<h3>Top Categories</h3>
<div></div>

<div>
  <button (click)="getCategory()">All Categories</button>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Category id</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heroes" routerLink="/detail/{{ hero.id }}">
        <td>{{ hero.id }}</td>
        <td>{{ hero.content }}</td>
      </tr>
    </tbody>
  </table>
</div>

<br />
<div>
  <label
    >id:
    <input [(ngModel)]="hero.id" placeholder="id" />
  </label>
  <label
    >name:
    <input [(ngModel)]="hero.content" placeholder="content" />
  </label>
</div>

<div>
  <button (click)="createCategory()">Create</button>
</div>

<div>
  <button (click)="goBack()">go back</button>
</div>
